/* Cards Paragraph. */
/* .field--paragraph--bp-card-section.html.twig */
/* Removes Padding on Cards (Padding is on columns inside). */
.paragraph.paragraph--type--bp-cards > .paragraph__column {
  padding: 0;
}
/* Card Modifiers inside of Cards.  */
.paragraph.paragraph--type--bp-cards .paragraph--type--bp-cards__6-cards {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--type--bp-cards .paragraph--type--bp-cards__6-cards {
    float: left;
    width: 16.66666667%;
  }
}
.paragraph.paragraph--type--bp-cards .paragraph--type--bp-cards__5-cards {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--type--bp-cards .paragraph--type--bp-cards__5-cards {
    float: left;
    width: 20%;
  }
}
.paragraph.paragraph--type--bp-cards .paragraph--type--bp-cards__4-cards {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--type--bp-cards .paragraph--type--bp-cards__4-cards {
    float: left;
    width: 25%;
  }
}
.paragraph.paragraph--type--bp-cards .paragraph--type--bp-cards__3-cards {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--type--bp-cards .paragraph--type--bp-cards__3-cards {
    float: left;
    width: 33.33333333%;
  }
}
.paragraph.paragraph--type--bp-cards .paragraph--type--bp-cards__2-cards {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--type--bp-cards .paragraph--type--bp-cards__2-cards {
    float: left;
    width: 50%;
  }
}
.paragraph.paragraph--type--bp-cards .paragraph--type--bp-cards__1-cards {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--type--bp-cards .paragraph--type--bp-cards__1-cards {
    float: left;
    width: 100%;
  }
}
/* Base card styles. */
.card.panel {
  border: none;
  border-bottom: 5px solid #898989;
  border-radius: 4px 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card.panel .card-header {
  position: relative;
}
.card.panel .card-header .glyphicon {
  background-color: #fff;
  border-radius: 50%;
  color: #898989;
  display: table;
  font-size: 20px;
  margin: 0 auto 10px;
  padding: 15px;
}
.card.panel .card-header .card-title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.card.panel .card-header .card-title:after {
  border-top: 15px solid #898989;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  bottom: -15px;
  content: "";
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 0;
}
.card.panel .paragraph--type--bp-card .panel-default > .panel-heading {
  background-color: #898989;
}
.card.panel .card-block.panel-body {
  padding: 30px 15px 15px;
}
.card.panel ul {
  list-style-type: none;
  padding-left: 15px;
}
.card.panel ul li:before {
  color: #898989;
  content: "▶";
  padding-right: 10px;
}
.card.panel ul li {
  margin-bottom: 5px;
}
/* Changes colors. */
.accent-color--aqua .card.panel {
  border-bottom-color: #99D8DE;
}
.accent-color--aqua .card.panel .card-header .glyphicon {
  color: #99D8DE;
}
.accent-color--aqua .card.panel .card-header .card-title:after {
  border-top-color: #99D8DE;
}
.accent-color--aqua .card.panel ul li:before {
  color: #99D8DE;
}
.accent-color--blue .card.panel {
  border-bottom-color: #1F376a;
}
.accent-color--blue .card.panel .card-header .glyphicon {
  color: #1F376a;
}
.accent-color--blue .card.panel .card-header .card-title:after {
  border-top-color: #1F376a;
}
.accent-color--blue .card.panel ul li:before {
  color: #1F376a;
}
.accent-color--green .card.panel {
  border-bottom-color: #77BE6A;
}
.accent-color--green .card.panel .card-header .glyphicon {
  color: #77BE6A;
}
.accent-color--green .card.panel .card-header .card-title:after {
  border-top-color: #77BE6A;
}
.accent-color--green .card.panel ul li:before {
  color: #77BE6A;
}
.accent-color--light-blue .card.panel {
  border-bottom-color: #00A2E0;
}
.accent-color--light-blue .card.panel .card-header .glyphicon {
  color: #00A2E0;
}
.accent-color--light-blue .card.panel .card-header .card-title:after {
  border-top-color: #00A2E0;
}
.accent-color--light-blue .card.panel ul li:before {
  color: #00A2E0;
}
.accent-color--teal .card.panel {
  border-bottom-color: #31ACA3;
}
.accent-color--teal .card.panel .card-header .glyphicon {
  color: #31ACA3;
}
.accent-color--teal .card.panel .card-header .card-title:after {
  border-top-color: #31ACA3;
}
.accent-color--teal .card.panel ul li:before {
  color: #31ACA3;
}
.accent-color--yellow .card.panel {
  border-bottom-color: #D9DF22;
}
.accent-color--yellow .card.panel .card-header .glyphicon {
  color: #D9DF22;
}
.accent-color--yellow .card.panel .card-header .card-title:after {
  border-top-color: #D9DF22;
}
.accent-color--yellow .card.panel ul li:before {
  color: #D9DF22;
}
.accent-color--brand-primary .card.panel {
  border-bottom-color: #337ab7;
}
.accent-color--brand-primary .card.panel .card-header .glyphicon {
  color: #337ab7;
}
.accent-color--brand-primary .card.panel .card-header .card-title:after {
  border-top-color: #337ab7;
}
.accent-color--brand-primary .card.panel ul li:before {
  color: #337ab7;
}
.accent-color--brand-success .card.panel {
  border-bottom-color: #5cb85c;
}
.accent-color--brand-success .card.panel .card-header .glyphicon {
  color: #5cb85c;
}
.accent-color--brand-success .card.panel .card-header .card-title:after {
  border-top-color: #5cb85c;
}
.accent-color--brand-success .card.panel ul li:before {
  color: #5cb85c;
}
.accent-color--brand-info .card.panel {
  border-bottom-color: #5bc0de;
}
.accent-color--brand-info .card.panel .card-header .glyphicon {
  color: #5bc0de;
}
.accent-color--brand-info .card.panel .card-header .card-title:after {
  border-top-color: #5bc0de;
}
.accent-color--brand-info .card.panel ul li:before {
  color: #5bc0de;
}
.accent-color--brand-warning .card.panel {
  border-bottom-color: #f0ad4e;
}
.accent-color--brand-warning .card.panel .card-header .glyphicon {
  color: #f0ad4e;
}
.accent-color--brand-warning .card.panel .card-header .card-title:after {
  border-top-color: #f0ad4e;
}
.accent-color--brand-warning .card.panel ul li:before {
  color: #f0ad4e;
}
.accent-color--brand-danger .card.panel {
  border-bottom-color: #d9534f;
}
.accent-color--brand-danger .card.panel .card-header .glyphicon {
  color: #d9534f;
}
.accent-color--brand-danger .card.panel .card-header .card-title:after {
  border-top-color: #d9534f;
}
.accent-color--brand-danger .card.panel ul li:before {
  color: #d9534f;
}
